# ignore the modules folder
node_modules
package-lock.json

config/.env
.env

#ignore output folder
output
output/*.*

#ignore the logs folder
logs
logs/stremio*.*

#ignore backup folder
backups
backups/*.*