# ignore the modules folder
node_modules
package-lock.json

classes/.env
.env

#ignore output folder
output/*.*
output

#output files
stremio-kandigital.json
stremio-kandigital.zip
stremio-kankids.json
stremio-kankids.zip
stremio-kanteens.json
stremio-kanteens.zip
stremio-reshet.json
stremio-reshet.zip
stremio-mako.json
stremio-mako.zip

#ignore the logs folder
logs
logs/stremio*.*

#ignore backup folder
backups
backups/*.*

#ignore claude code settings
.claude/

build/